.mainMenu{
    justify-content: center;
    text-align: center;
}

.mainMenuList{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainMenuItem{
    font-size: 18px;
    font-weight: 600;
    text-shadow: 5px 2px 8px rgba(20, 60, 237, 0.4);
    color: rgb(80, 80, 200);
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.mainMenuItem:hover{
    font-size: 17px;
    color: rgba(20, 60, 237, 0.7);
}

.apodCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 5px 10px;
    border-radius: 8px;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 4px 4px 8px rgba(80, 80, 80, 0.4);
    background-color: rgb(245, 245, 245);
    width: 90%;
}

.apodTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.apodCopy{
    font-size: 15px;
    color: rgb(100, 100, 100);
    margin-top: 0px;
}

.apodExplanation{
    font-size: 15px;
}

.showMoreButton{
    color: rgb(100, 100, 250);
    font-size: 15px;
}

.showMoreButton:hover{
    color: rgba(100, 100, 100, 0.6);
    cursor: pointer;
}

.apodImage{
    width: auto;
    max-width: 100%;
    border-radius: 5px;
    max-height: 80vh;
}

@media (min-width: 1200px) {
    .apodCard{
        width: 45%;
        margin: 10px;
    }        
}